<h1> <%= @planet.name %> </h1>
<hr>
<table>
	<thead>
		<tr>
			<th>Moons</th>
			<th>Rings</th>
			<th>Suns</th>
			<th>Miles from the Sun</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td> <%= @planet.moons %> </td>
			<td> <%= @planet.rings %> </td>
			<td> <%= @planet.suns %> </td>
			<td> <%= @planet.miles_to_sun %> </td>
		</tr>
	</tbody>
</table>
<hr>
<%= link_to 'Edit Planet', edit_planet_path(@planet) %> ||
<%= link_to 'Delete', planet_path(@planet), method: :delete %>
<hr>	

<%= link_to 'Back', planets_path %>